<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-12 panel panel-default no-padding-x" ng-repeat="inverter in currentMeasurement">

			<div class="panel-heading padding-sm">#{{ inverter.inverterId }} {{inverterConfig[inverter.inverterId].name}}</div>
			<div class="no-padding-x">
				<div class="panel panel-default col-sm-12 no-padding-x no-border-top no-border-left no-border-right">
					<div class="panel-heading padding-xs">
						AC
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-4 col-sm-2">Power</div>
							<div class="col-xs-4 col-sm-2 padding-x-xs"><strong title="Max power {{inverterConfig[inverter.inverterId].power}} kW">{{inverter.ac.power | number: 3}}</strong> kW</div>
							<div class="col-xs-4 col-sm-2 padding-x-xs"><progress title="{{ inverter.ac.power / inverterConfig[inverter.inverterId].power * 100 | number: 1}}%" max="{{ inverterConfig[inverter.inverterId].power }}" value="{{ inverter.ac.power }}">{{ inverter.ac.power / inverterConfig[inverter.inverterId].power * 100 | number: 1}}%</progress></div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-sm-2">Today</div>
							<div class="col-xs-4 col-sm-2 padding-x-xs">{{inverter.ac.energy | number: 1}} kWh</div>
							<div class="col-xs-4 col-sm-2 padding-x-xs"></div>
						</div>
						<div class="row" ng-show="monthStat[inverter.inverterId].startEnergy">
							<div class="col-xs-4 col-sm-2">Month</div>
							<div class="col-xs-4 col-sm-2 padding-x-xs">{{ inverter.ac.totalEnergy - monthStat[inverter.inverterId].startEnergy  | number: 1}} kWh</div>
							<div class="col-xs-4 col-sm-2 padding-x-xs"></div>
						</div>
					</div>
				</div>

				<div class="panel panel-default col-sm-6 no-padding-x" ng-repeat="dc in inverter.dc">
					{{ dcConfig = inverterConfig[inverter.inverterId].dc[$index];"" }}
					<div class="panel-heading padding-xs text-overflow">
						DC {{$index + 1}} {{ dcConfig.name }}
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-4">Power</div>
							<div class="col-xs-4 padding-x-xs" title="Max power: {{ dcConfig.power * dcConfig.qty / 1000 }} kW">{{dc.power}} kW</div>
							<div class="col-xs-4 padding-x-xs"><progress title="{{ dc.power / (dcConfig.power * dcConfig.qty / 1000) * 100 | number: 1}}%" max="{{ dcConfig.power * dcConfig.qty / 1000}}" value="{{dc.power}}">{{ dc.power / (dcConfig.power * dcConfig.qty / 1000) * 100 | number: 1}}%</progress></div>
						</div>
						<div class="row">
							<div class="col-xs-4">Voltage</div>
							<div class="col-xs-4 padding-x-xs">{{dc.voltage | number : 1}} V</div>
							<div class="col-xs-4 padding-x-xs"><progress title="{{ dc.voltage / (dcConfig.voltageMax * dcConfig.qty) * 100 | number: 1}}%" max="{{ dcConfig.voltageMax * dcConfig.qty}}" value="{{dc.voltage}}">{{ dc.voltage / (dcConfig.voltageMax * dcConfig.qty) * 100 | number: 1}}%</progress></div>
						</div>
						<div class="row">
							<div class="col-xs-4">Current</div>
							<div class="col-xs-4 padding-x-xs">{{dc.current | number : 2}} A</div>
							<div class="col-xs-4 padding-x-xs"><progress max="{{ dcConfig.currentNominal}}" value="{{dc.current}}">{{ dc.current / (dcConfig.currentNominal * dcConfig.qty) * 100}}%</progress></div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3>Power chart</h3>
			<day-data></day-data>
		</div>
	</div>

</div>
